* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body {
    font-family: Arial, sans-serif;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem 2rem;
    background-color: #353531;
    color: #ec4e20;
}

.logo img {
    width: 10rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: contain;
}

nav .menu {
    list-style: none;
    display: flex;
}

nav .menu li {
    margin-left: 5rem;
    font-size: 150%;
}

nav .menu li a {
    color: #ec4e20;
    text-decoration: none;
    padding: 1rem 1.5rem;
    transition: background-color 0.3s;
    font-size: 150%;
}

nav .menu li a:hover {
    background-color: #555;
    border-radius: 0.5rem;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    gap: 3rem;
}


.productsection{
    width: 60rem;
    height: 57rem;
    background: #353531;
    border-radius: 1.5rem;
}

.productwrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 37rem;
    gap: 2rem;
    padding: 2rem;
}

.productimage{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.orderButton{
    width: 10rem;
    height: 3rem;
    background: #ec4e20;
    text-decoration: none;
    border-radius: 0.5rem;
    border: none;
    transition: 0.6s;
}

.orderButton:hover{
    background: white;
    color: #ec4e20;
    
}

.productdetails{
    font-size: 200%;
    color: #ec4e20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.productbuttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
}

.productButton{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    text-decoration: none;
    border: none;
}

.productButton:hover{
    cursor: pointer;
}

.white{
    background: WHITE;
}

.silver{
    background: silver;
}

.red{
    background: red;
}

.gold{
    background: gold;
}

.blue{
    background: blue;
}

.winkelwagensection{
    width: 80rem;
    height: 60rem;
    background: #353531;
    border-radius: 1.5rem;
}


footer{
    width: 100%;
    height: 12rem;
    background: #353531;
}
